/* BACKGROUND */
body {background:#000 url(../../assets/dist/img/background.jpg) no-repeat fixed top center;}
.transparan2{background:rgba(0,0,0,0.4);}

.backdrop {
	background: #333333;
	filter: alpha(opacity=90);
	opacity: .9;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
#background {<link rel="stylesheet" href="http://localhost/sisurat/background.css">
	background-image: url('img/background.jpg');
	position: relative;
    top: 0;
    left: -200px;
    right: 0;
    bottom: 0;
	background-size: cover;

	background: url('img/background.jpg') no-repeat fixed;
	   -webkit-background-size: 100% 100%;
	   -moz-background-size: 100% 100%;
	   -o-background-size: 100% 100%;
	   background-size: 100% 100%;
}
}
